<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Redis to Cloud Run Example</title>
	<meta name="description" content="Redis to Cloud Run Example">
	<meta name="author" content="jbloom">

	<link rel="stylesheet" type="text/css" href="/static/styles.css" />

</head>

<body>
	<p>The last visitor here had a {{info.lastBrowser}} browser with version {{info.lastVersion}}</p>
	<p>Your {{info.currentBrowser}} browser is version {{info.currentVersion}}</p>
	<script src="static/scripts.js"></script>
</body>

</html>
